body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
header {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}
header .mobile-logo {
  width: 75%;
}
  /* /////////////////// */
 /*  // Main Banner //  */
/* /////////////////// */
main .main-banner {
  background-color: #fff;
  display: flex;
  justify-content: center;
  width: 100%;
}
main .main-banner img {
  width: 90%;
}
main .conf {
  padding: 10px 20px;
  color: #fff;
}
main .conf.conf-about {
  padding: 20px;
  background-color: #ba742c;
  color: #fff;
  text-align: center;
  line-height: 1.5rem;
}
.conf-about h1 {
  margin: 0;
}
  /* ************** */
 /*  ** Agenda **  */
/* ************** */
div.conf-agenda {
  background-color: #ba5946;
}
.agenda {
  display: flex;
  justify-content: center;
}
.agenda h2 {
  font-size: 1.75rem;
}
.conf-agenda .day-head {
  display: flex;
  align-items: center;
}
.day-head h3 {
  font-size: 1.4rem;
  margin: 0.5rem 0;
}
.day-head span {
  padding-left: 10px;
}
.agenda-item .time {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 16px;
}
.agenda-day {
  margin-bottom: 2rem;
}
.agenda-content {
  margin-top: 1rem;
}
.agenda-item .time-shape {
  background-color: #484848;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  border-radius: 50%;
}
.time .fa {
  padding-top: 4px;
  font-size: 1.15rem;
}
.agenda-item .time span {
  padding-left: 9px;
}
.agenda-item h4 {
  margin: 0.5rem 0;
}
.agenda-item p {
  margin: 0;
  margin-bottom: 1rem
}
.agenda-item h4, .agenda-item p {
  margin-left: 16px;
}
/* \\\\\\\\\\\\\ */
 /*  \\ Apply \\  */
  /* \\\\\\\\\\\\\ */
div.apply {
  height: 12rem;
  background-color: #6e9284;
}
.apply button {
  height: 2.5rem;
  width: 60%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  background: #6e9284;
  border-radius: 20px;
  box-shadow:  4px 4px 9px #485f56,
             -4px -4px 9px #95c5b2;
  transform: translate(4rem, 2rem);
  border: 0;
  cursor: pointer;
}
.apply button:hover {
  color: #efefef;
  background: linear-gradient(145deg, #769c8d, #638377);
  box-shadow:  4px 4px 9px #485f56,
               -4px -4px 9px #95c5b2;
}
.apply button:focus {
  color: #fff;
  background: #6e9284;
  box-shadow: inset 4px 4px 9px #485f56,
              inset -4px -4px 9px #95c5b2;
  outline: none;
}
/* |||||||||||||| */
/*  ** Donors **  */
/* |||||||||||||| */
div.donors {
  background-color: #899b51;
}
div.about-us {
  background-color:#dbb052;
}
/* ************** */
/*  ** Footer **  */
/* ************** */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  background-color: rgba(0, 0, 0, 0.97);
}
footer .twitter {
  height: 40px;
  width: auto;
}
footer .patreon-logo {
  height: 28px;
  width: auto;
  margin: 5px;
}
footer .fa {
  color: #ff937e;
  font-size: 1.25rem;
  align-self: center;
}
